<p style="color: green"><%= notice %></p>

<%= render @alumno %>

<div>
  <%= link_to "Editar alumno", edit_alumno_path(@alumno) %> |
  <%= link_to "Volver a alumnos", alumnos_path %>

  <%= button_to "Eliminar alumno", @alumno, method: :delete %>
</div>
